<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title th:text="${title}">JFileMan</title>
		
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
      <link href="/JFileMan/resources/style/index.css" rel="stylesheet" />
      
      <script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
      <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.1.0/es5-shim.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/flight/1.0.9/flight.min.js"></script>
      
      <script type="text/javascript" src="/JFileMan/resources/script/index.js"></script>
	</head>
	<body>
	
	</body>
</html>