<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8" />
      <title th:text="${title}">JFileMan</title>
      
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
      <link href="/JFileMan/resources/style/index.css" rel="stylesheet" />
   </head>
   <body>
      <div>
         <div class="container">
            <form id="login" class="form-signin">
               <h2 class="form-signin-heading">Please sign in</h2>
               <input name="username" type="text" class="form-control" placeholder="Username" autofocus="autofocus" />
               <input name="password" type="password" class="form-control" placeholder="Password" />
               <label class="checkbox">
                  <input name="rememberMe" type="checkbox">Remember me</input>
               </label>
               <button id="signIn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
               <div id="loginError"></div>
            </form>
         </div>
      </div>
       
      <script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
      <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
       
      <script type="text/javascript" src="/JFileMan/resources/script/index.js"></script>
   </body>
</html>