<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title th:text="${title}">JFileMan</title>
		
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
      <link href="/search/resources/style/search.css" rel="stylesheet" />
      
      <script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
      <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
	</head>
	<body>
	
	</body>
</html>